---
title: Ma Lab Members
layout: members-w-Alumni
group: members
---

<h1>Ma Lab Members</h1>

{% for person in site.data.members %}
<hr>
<!-- The paddingtop and margin-top edits allow anchors to link properly. -->
<div id = "{{person.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
    <div class="col-sm-4">
        <img class="img-responsive" src="{{person.image}}" {% if person.altimage %} onmouseover="this.src='{{person.altimage}}';" onmouseout="this.src='{{person.image}}';" {% endif %} alt="{{person.name}}"><br>
    </div>
    <div class="col-sm-8">
      <strong>{{person.name}}</strong> <br>
      {{person.position}} <br>
      {% if person.email %}<em>{{person.email}}</em> <br>{% endif %}
      <br>
      {% if person.website %}
          <a href= "{{person.website}}">{{person.website}}</a> <br>
        {% endif %}

        {% if person.edu1 %}
          - {{person.edu1}} <br>
        {% endif %}
        {% if person.edu2 %}
        - {{person.edu2}} <br>
      {% endif %}
      {% if person.edu3 %}
      - {{person.edu3}} <br>
    {% endif %}

        {% if person.scholar %}
          <a href= "http://scholar.google.com/citations?user={{person.scholar}}"> Scholar Citations </a> <br>
        {% endif %}
        {% if person.twitter %}
          <a href= "http://twitter.com/{{person.twitter}}"> @{{person.twitter}} </a> <br>
        {% endif %}
        <p class="text-justify">{{person.description | markdownify}}</p>
    </div>  
</div>
{% endfor %}
